<footer>
    <hr>
    <div class="container text-center">
        <address>
            <p>¡¡Videojuegos al mejor precio!!</p>
            <p>
                Gran vía, 20590 - Vigo (Pontevedra)<br/>
                Tel: 943 75 00 00 00 / 666 00 00 00 - Contacto: test@example.com
                <a
                    class="nav-link"
                    [routerLink]="['/contact']"
                    routerLinkActive="router-link-active"
                    >Contacta con nosotros</a
                >
            </p>
        </address>
    </div>
</footer>